{% extends "admin/base.html" %}

{% block extrastyle %}
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700" rel="stylesheet"> 
<link rel="stylesheet" type="text/css" href="/static/core/src/css/admin.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock %}


{% block quick-search %}
<form class="form-search nav-quick-search" autocomplete="off" action="/admin/newsletter/subscriber/" method="GET">
    <input type="text" name="q" class="input-medium search-query" id="quick-search" placeholder="cerca iscritto...">
    <i class="input-icon icon-search"></i>
    <input type="submit" class="submit" value="">
</form>
{% endblock %}

{% block footer_links %}
<a href="mailto:stefano.contini@otto.to.it?subject=Supporto Tazebao" target="_blank" class="icon"><i class="icon-question-sign"></i>Supporto</a>
<a href="http://github.com/otto-torino/tazebao/issues" target="_blank" class="icon"><i class="icon-comment"></i>Segnala un bug</a>
{% endblock %}


{% block copyright %}
Copyright &copy; 2016 Otto srl<br>Developed by <a href="http://www.otto.to.it" target="_blank">otto.to.it</a>
{% endblock %}
