{% extends 'admin/change_form.html' %}

{% block content %}{{ block.super }}
<script>
    if(location.hash) {
        var template_id = location.hash.substr(1);
        if (template_id) {
            (function($) {
                $.ajax({
                    url: '/mosaico/template/content/' + template_id + '/'
                }).done(function(response) {
                    $('#id_html_text').val(response);
                })
            })(django.jQuery)
        }
    }
</script>
{% endblock %}
