#header {
    background: #d7dce2;
}
#user-tools {
    color: #333 !important;
}
#user-tools strong {
    color: #000 !important;
    font-weight: bold !important;
}
#user-tools a {
    color: red !important;
}

#content {
    background: #fff;
}

.breadcrumbs {
    padding-bottom: 20px;
}

.object-tools + #changelist.filtered #toolbar {
    margin-top: 0;
}

#login-form #id_username {
    border: 1px solid #aaa;
}

#login-form #id_password {
    border: 1px solid #aaa;
}
