html,
body {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
}

.content-main-index li {
    line-height: 26px;
}

.content-main-index {
    width: 60%;
}

#footer {
    font-weight: 400;
}
