{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify suit_tags admin_urls %}

{% block extrahead %}<meta charset="utf-8" />{% endblock %}
{% block title %}Invio campagna | {{ campaign }}{% endblock %}

  {% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        ›
        <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{% firstof opts.app_config.verbose_name app_label|capfirst|escape %}</a>
        ›
        <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        ›
        Invio
    </div>
  {% endblock %}

{% block submit_buttons_bottom %}
    <input type="submit" name="send_submit" value="invia" class="btn btn-high btn-info" />
{% endblock %}
{% block object-tools %}{% endblock %}

{% block after_field_sets %}
    {% csrf_token %}
    <fieldset class="module aligned first">
        {% for field in form.visible_fields %}
        <div class="control-group form-row field-sede ">
            <div>
                <div class="control-label">
                    {{ field.label_tag }}
                </div>
                <div class="controls">
                    {{ field }}
                </div>
            </div>
        </div>
        {% endfor %}
    </fieldset>
{% endblock %}

