{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify admin_urls %}

{% block extrahead %}<meta charset="utf-8" />{{ block.super }}{% endblock %}
{% block title %}Invio campagna | {{ campaign }}{% endblock %}

  {% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        ›
        <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{% firstof opts.app_config.verbose_name app_label|capfirst|escape %}</a>
        ›
        <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        ›
        Invio
    </div>
  {% endblock %}

{% block content_title %}<h1>Invio campagna</h1>{% endblock content_title %}

{% block submit_buttons_bottom %}
    <div class="submit-row">
        <input type="submit" name="send_submit" value="invia" />
    </div>
{% endblock %}
{% block object-tools %}{% endblock %}

{% block after_field_sets %}
    {% csrf_token %}
    <fieldset class="module aligned first">
        <p>Seleziona le liste di iscritti alle quali desideri inviare la campagna.</p>
        {% for field in form.visible_fields %}
        <div class="form-row field-lists">
            <div>
                {{ field.label_tag }}
                {{ field }}
                <div class="help">Tieni premuto "Control", o "Command" su Mac, per selezionarne più di uno.</div>
            </div>
        </div>
        {% endfor %}
    </fieldset>
{% endblock %}

