{% extends "admin/change_form.html" %}
{% load i18n l10n admin_static admin_modify admin_urls %}

{% block extrahead %}{{ block.super }}<meta charset="utf-8" />{% endblock %}
{% block title %}Aggiungi iscritti a liste | {{ campaign }}{% endblock %}

  {% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        ›
        <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{% firstof opts.app_config.verbose_name app_label|capfirst|escape %}</a>
        ›
        <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        ›
        Aggiungi a liste
    </div>
  {% endblock %}

{% block submit_buttons_bottom %}
    <div class="submit-row">
        <input type="submit" name="send_submit" value="aggiungi" />
    </div>
{% endblock %}
{% block object-tools %}{% endblock %}

{% block content_title %}<h1>Aggiungi gli iscritti alle liste selezionate</h1>{% endblock content_title %}

{% block after_field_sets %}
    {% csrf_token %}
    {% if error %}
    <p class="alert alert-danger">Si è verificato un errore:<br />
        {{ exception }}
    </p>
    {% endif %}
    <fieldset class="module aligned first">
        {% for field in form.visible_fields %}
        <div class="form-row field-lists">
            <div>
                {{ field.label_tag }}
                {{ field }}
                <div class="help">Tieni premuto "Control", o "Command" su Mac, per selezionarne più di uno.</div>
            </div>
        </div>
        {% endfor %}
    </fieldset>
    <input type="hidden" name="action" value="action_add_to_list" />
    {% for obj in queryset %}
        <input type="hidden" name="_selected_action" value="{{ obj.pk|unlocalize }}" />
    {% endfor %}
{% endblock %}
