{% extends "admin/change_form.html" %}
{% load i18n l10n admin_static admin_modify suit_tags admin_urls %}

{% block extrahead %}<meta charset="utf-8" />{% endblock %}
{% block title %}Rimuovi iscritti da liste | {{ campaign }}{% endblock %}

  {% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        ›
        <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{% firstof opts.app_config.verbose_name app_label|capfirst|escape %}</a>
        ›
        <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        ›
        Rimuovi da liste
    </div>
  {% endblock %}

{% block submit_buttons_bottom %}
    <input type="submit" name="send_submit" value="rimuovi" class="btn btn-high btn-info" />
{% endblock %}
{% block object-tools %}{% endblock %}

{% block after_field_sets %}
    {% csrf_token %}
    {% if error %}
    <p class="alert alert-danger">Si è verificato un errore:<br />
        {{ exception }}
    </p>
    {% endif %}
    <fieldset class="module aligned first">
        {% for field in form.visible_fields %}
        <div class="control-group form-row field-sede ">
            <div>
                <div class="control-label">
                    {{ field.label_tag }}
                </div>
                <div class="controls">
                    {{ field }}
                </div>
            </div>
        </div>
        {% endfor %}
    </fieldset>
    <input type="hidden" name="action" value="action_remove_from_list" />
    {% for obj in queryset %}
    <input type="hidden" name="_selected_action" value="{{ obj.pk|unlocalize }}" />
    {% endfor %}
{% endblock %}
